@media (max-width:1000px) {
    .first-section {
        flex-direction: column;
        gap: 2em;
    }

    .first-section .musics-left .music-list {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .first-section .musics-left .music {
        background: none;
        box-shadow: none;
        justify-content: center;
    }

    .first-section .musics-left .music span {
        display: none;
    }

    .first-section .musics-left .music-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .first-section .init-right h1 {
        margin-bottom: 0;
        font-size: 2em;
    }

    .first-section .init-right h2 {
        font-size: 1.3em;
    }

    .first-section .init-right .card {
        max-width: 300px;
        width: 100%;
        position: inherit;
    }

    .first-section .init-right .card img {
        position: inherit;
    }

    .first-section .musics-left .music img {
        border-radius: 20%;
    }

    .second-section {
        margin-top: 0;
    }

    .second-section .top .card {
        margin-top: 10em;
    }

    .second-section .top,
    .second-section .bottom {
        flex-direction: column;
        align-items: center;
        gap: 2em;
        text-align: center;
    }
    
    .second-section .top .card img {
        position: inherit;
    }

    .second-section p {
        font-size: 1em;
    }

    .second-section .bottom img {
        width: 70%;
    }

    .third-section h2 {
        font-size: 2em;
    }

    .fourth-section h3,
    .fifth-section h3,
    .sixth-section h3,
    .seventh-section h3,
    .eighth-section h3 {
        font-size: 2em;
    }

    .fourth-section p,
    .fifth-section p,
    .sixth-section p,
    .seventh-section p,
    .eighth-section p {
        font-size: .9em;
    }

    .fourth-section,
    .fifth-section,
    .sixth-section,
    .seventh-section,
    .eighth-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    .eighth-section {
        margin-bottom: 100px;
    }
}

@media (max-width: 650px) {
    header nav .right  {
        display: none;
    }

    nav .left a,
    header nav {
        justify-content: center;
        padding-right: 0em; 
    }

    .first-section .init-right h1 {
        font-size: 1.3em;
    }

    .first-section .init-right h2 {
        font-size: 1em;
    }

    .first-section .musics-left .music img {
        width: 20%;
    }

    .second-section p {
        font-size: .7em;
    }
}