/* SECTION 2 */
.second-section {
    font-family: 'Prompt', sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.second-section .container {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.second-section .top .card {
    background: var(--damn-color);
    width: 20em;
    display: flex;
    justify-content: center;
    position: relative;
}

.second-section .top .card img {
    max-width: 280px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.second-section p {
    font-size: 1.1em;
    max-width: 500px;
}

.second-section .top,
.second-section .bottom {
    display: flex;
    gap: 4em;
}

.second-section .bottom {
    align-items: flex-start;
}

.second-section .bottom img {
    max-width: 400px;
    width: 100%;
}