/* THIRD SECTION */
.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 4em;
}

.third-section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 3.5em;
}

.third-section h2:last-child {
    font-family: 'Zen Old Mincho', serif;
    color: var(--text-red);
}

.third-section img {
    background: var(--white);
    border-radius: 100%;
    max-width: 350px;
    width: 100%;
}